force-app/main/default/flows/SCN_Account_Contract_Clause.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FileCreatorFromFlow</name>
        <label>FileCreatorFromFlow</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <actionName>FileCreatorFromFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sucess_Message</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_Display</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Account_Contract</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>textList</name>
            <value>
                <elementReference>EncodedText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FileCreatorFromFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Account_Contract_Field</name>
        <label>Set Account Contract Field</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Update_Account_Contract_Clause_Loop.Account_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Account_Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToUpdateACC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Account_Contract_Clause_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EncodedText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Account_Contract_Clause_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Contract_Clause_Loop</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;footer&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Account_Contract_Clause_Count_Greter_then_0</name>
        <label>Account Contract Clause Count Greter then 0</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Greter_then_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Contract_Clause_Record</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Contract</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Billing_Country_Is_Blank</name>
        <label>Billing Country Is Blank ?</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_current_account_record.BillingCountry</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Contract_Clause_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Use to display Account Contract Clause records depending on the Account&apos;s Billing Country</description>
    <environments>Default</environments>
    <formulas>
        <name>AccountContractName</name>
        <dataType>String</dataType>
        <expression>{!get_current_account_record.Name} + &apos;-&apos; + Left(TEXT(sqrt(
(value(
      (left(right(text(now()),6),2))&amp;     
      text(DAY(DATEVALUE(now())))&amp;
      text(Month(DATEVALUE(now())))&amp;
      text(Year(DATEVALUE(now())))&amp;
      (left(right(text(now()),9),2)))
)/100
)
),5)</expression>
    </formulas>
    <interviewLabel>SCN_Account Contract Clause {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Contract Clause Records</label>
    <loops>
        <name>Update_Account_Contract_Clause_Loop</name>
        <label>Update Account Contract Clause Loop</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Account_Contract_Clause_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Account_Contract_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Contract_Clause</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Contract</name>
        <label>Create Account Contract</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Account_Contract_Clause_Loop</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_Display</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>get_current_account_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AccountContractName</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Contract_Clause_Record</name>
        <label>Get Account Contract Clause Record</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Contract_Clause_Based_On_Billing_Country</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_Display</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Billing_Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_current_account_record.BillingCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Contract_Clause__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Account_Contract__c</queriedFields>
        <queriedFields>Parent_Account_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_current_account_record</name>
        <label>Get Current Account Record</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billing_Country_Is_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingCountryCode</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Contract_Clause</name>
        <label>Update Account Contract Clause</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>FileCreatorFromFlow</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_Display</targetReference>
        </faultConnector>
        <inputReference>ToUpdateACC</inputReference>
    </recordUpdates>
    <screens>
        <name>Account_Contract_Clause_Based_On_Billing_Country</name>
        <label>Account Contract Clause Based On BillingCountry</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_Contract_Clause_Count_Greter_then_0</targetReference>
        </connector>
        <fields>
            <name>SC_AccountContractClauseRecords</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account_Contract_Clause__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Account_Contract_Clause_Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4a8e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Contract Clause Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Contract Clause</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Display</name>
        <label>Error Message Display</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(166, 72, 72); font-size: 16px;&quot;&gt;Dear {!$User.FirstName},&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(166, 72, 72); font-size: 16px;&quot;&gt;An unexpected error has occurred. Please contact your system administrator and provide the following details:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(166, 72, 72); font-size: 16px;&quot;&gt;Error Details: {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(166, 72, 72); font-size: 16px;&quot;&gt;Thank you for your patience.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sucess_Message</name>
        <label>Success Message</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RecordCreationMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Account Contract {!AccountContractName} has been successfully created !!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please &lt;/strong&gt;&lt;a href=&quot;/{!Create_Account_Contract} &quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;Click Here&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; to View the Record.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_current_account_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConvertedTextRes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EncodedText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToUpdateACC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Contract_Clause__c</objectType>
    </variables>
</Flow>
